extends layout


block styles
  link(rel='stylesheet', href='./stylesheets/room.css')

block scripts
  script(type="text/javascript" src='/socket.io/socket.io.js') 

  script('text/javascript').
    var socket = io();    

block content
  #nav
      nav.navbar.navbar-light.bg-light.justify-content-between
        a.navbar-brand(style="font-size:22px", color:blue) Colabor8
        form.form-inline
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  #tracker
    //.jumbotron
    .input-group.mb-3
      .input-group-prepend
        span#basic-addon1.input-group-text Issue Title
      input.form-control(id="issueDescInput" type='text', placeholder='Title')

    .input-group.mb-3
      .input-group-prepend
        span#basic-addon1.input-group-text Assigned To
      input.form-control(id="IssueAssignedToInput" type='text', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1')

    .input-group.mb-3
      .input-group-prepend
        label.input-group-text(for='inputGroupSelect01') Severity
      select#IssueSeverityInput.custom-select
        option(selected='Low') Low
        option(value='Medium') Medium
        option(value='High') High
    .input-group
      .input-group-prepend
        span.input-group-text Description
      textarea.form-control(aria-label='With textarea')












        //- form(id="IssueInputForm")
        //-   .form-group
        //-     label(for="IssueDescInput") Description
        //-     input(type="text" class="form-control" id="issueDescInput" placeholder="Describe the issue ...")
        //-   .form-group
        //-     label(for="IssueSeverityInput") Severity
        //-     select(id="IssueSeverityInput" class='form-control' placeholder=' ')
        //-       option(value="Low") Low
        //-       option(value="Medium") Medium
        //-       option(value="High") High
        //-   .form-group
        //-     label(for="IssueAssignedToInput") Assigned To
        //-     input(type="text" class="form-control" id="IssueAssignedToInput" placeholder="Assignee")
        //-     //- select(id="IssueAssignedToInput" class='form-control')
        //-     //-   option(value="Other") Other
        //-   //- .form-group
        //-   //-   label(for="DueDateInput") Due Date
        //-   //-   datepicker(selected='{this.state.startDate}', onchange='{this.handleChange}')
    button.btn.btn-outline-success.my-2.my-sm-0(type = 'button' id='issue-send' onclick="newIssue()") Add
  #issues
    .panel.panel(id='issue-window')
      ul.list-group(id='issue-list')
  //- nav#nav.navbar.navbar-inverse.navbar-fixed-top
  //-   .container-fluid
  //-       .navbar-header(id='navbar-room')
  //-       ul.nav.navbar-nav(id='room-members')
  //-         li
  //-           a(href='/', style="font-size:22px") Colabor8
  //-       form.navbar-form.navbar-right
  //-         .form-group
  //-           input.form-control(type='text', placeholder='Problem ID', name='search')
  //-         button.btn.btn-default(id='submit_search' type='submit') Submit

  #chat
    .panel.panel-success(id='chat-window')
      .feedback(id='feedback')
      ul.list-group(id='chat-messages')
    form.form-group.has-success(action='' id='chat-form')
        .input-group
          input.form-control(type='text' id='chat-input' autocomplete='off')
          span.input-group-btn
              button.btn.btn-outline-success.my-2.my-sm-0(id='chat-send' type='button') Send
                  
  script(type="text/javascript" src ='./javascripts/socket.js')



