extends layout


block styles
  link(rel='stylesheet', href='./stylesheets/room.css')

block scripts
  script(type="text/javascript" src='/socket.io/socket.io.js') 

  script('text/javascript').
    var socket = io();    

block content 
  #tracker
    .jumbotron
      h3 
        form(id="IssueInputForm")
          .form-group
            label(for="IssueDescInput") Description
            input(type="text" class="form-control" id="issueDescInput" placeholder="Describe the issue ...")
          .form-group
            label(for="IssueSeverityInput") Severity
            select(id="IssueSeverityInput" class='form-control' placeholder=' ')
              option(value="Low") Low
              option(value="Medium") Medium
              option(value="High") High
          .form-group
            label(for="IssueAssignedtoInput") Assigned To





  nav#nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header(id='navbar-room')
        ul.nav.navbar-nav(id='room-members')
          li
            a(href='/', style="font-size:22px") Colabor8
        form.navbar-form.navbar-right
          .form-group
            input.form-control(type='text', placeholder='Problem ID', name='search')
          button.btn.btn-default(id='submit_search' type='submit') Submit

            //p.navbar-text ##{roomID}
  #chat
      .panel.panel-success(id='chat-window')
        .feedback(id='feedback')
        ul.list-group(id='chat-messages')
      form.form-group.has-success(action='' id='chat-form')
          .input-group
            input.form-control(type='text' id='chat-input' autocomplete='off')
            span.input-group-btn
                button.btn.btn-success(id='chat-send' type='button') Send
                  
  script(type="text/javascript" src ='./javascripts/socket.js')



