extends layout


block styles
  link(rel='stylesheet', href='./stylesheets/room.css')

block scripts
  script(type="text/javascript" src='/socket.io/socket.io.js') 

  script('text/javascript').
    var socket = io();    

block content 
  nav#nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header(id='navbar-room')
        ul.nav.navbar-nav(id='room-members')
          li.active
            a(href='#') #
        form.navbar-form.navbar-left
          .form-group
            input.form-control(type='text', placeholder='Problem ID', name='search')
          button.btn.btn-default(id='submit_search' type='submit') Submit

            //p.navbar-text ##{roomID}
  #chat
      .panel.panel-success(id='chat-window')
        .feedback(id='feedback')
        ul.list-group(id='chat-messages')
      form.form-group.has-success(action='' id='chat-form')
          .input-group
            input.form-control(type='text' id='chat-input' autocomplete='off')
            span.input-group-btn
                button.btn.btn-success(id='chat-send' type='button') Send
                  
  script(type="text/javascript" src ='./javascripts/socket.js')



