extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/lobby.css')

block scripts
  script(type="text/javascript" src='/socket.io/socket.io.js') 

  script('text/javascript').
    var socket = io();
    //script(src='/javascripts/lobby.js')

block content
    nav.navbar.navbar-dark.bg-dark.justify-content-between
        a.navbar-brand #{title}
    #window
        .well(id='chat-window')
            form.form-group(action='' id='room-selection')  
                .input-group.mb-3
                    .input-group-prepend
                        span#basic-addon.input-group-text #
                    input.form-control(type='text' id='enter-room-text' placeholder='Room ID')
                    .input-group-prepend
                        span.input-group-btn
                    button.btn.btn-primary.button(id="enter-room-button") Enter Room ID
                    
            button.btn.btn-primary.full-width(id="new-room-button") Create Room

    script(type="text/javascript" src ='./javascripts/lobby.js')
