extends layout


block styles
  link(rel='stylesheet', href='/stylesheets/room.css')

block scripts
  script(type="text/javascript" src='/socket.io/socket.io.js') 

  script('text/javascript').
    var socket = io();

block content
  #nav
      nav.navbar.navbar-dark.bg-dark.justify-content-between
        a.navbar-brand #{title}
        form(id = "searchform").form-inline
          //.input-group.mb-3
          select#IssueSearchType.custom-select
            option(selected='description' value='description') Title
            option(value='assignedTo') Assigned To
            option(value='issueStatus') Status
            option(value='assignedBy') Assigned By
            option(value='severity') Severity

          input.form-control.mr-sm-2(id='issueSearch',type='search', placeholder='Search', aria-label='Search',autocomplete = "off", oninput = "checkSearch()")
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit' id='issue-search-submit') Search
  #tracker
    form(id = "issueform")
      .input-group.mb-3
        .input-group-prepend
          span#basic-addon.input-group-text Issue Title
        input.form-control(id="issueDescInput" type='text', placeholder='Title', class="form-control" required)

      .input-group.mb-3
        .input-group-prepend
          span#basic-addon.input-group-text Assigned To
        input.form-control(id="IssueAssignedToInput" type='text', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1', required)

      .input-group.mb-3
        .input-group-prepend
          label.input-group-text(for='inputGroupSelect01') Severity
        select#IssueSeverityInput.custom-select
          option(selected='Low') Low
          option(value='Medium') Medium
          option(value='High') High

      .input-group
        .input-group-prepend
          span.input-group-text Description
        textarea#IssueDescriptionInput.form-control(aria-label='With textarea')
      .divider
      button.btn.btn-outline-success.my-2.my-sm-0(type = 'submit' id='issue-send') Add

  #issues
    .panel.panel(id='issue-window')
      ul.list-group(id='issue-list')
 
  #chat
    .panel.panel-success(id='chat-window')
      .feedback(id='feedback')
      ul.list-group(id='chat-messages')
    form.form-group.has-success(action='' id='chat-form')
        .input-group
          input.form-control(type='text' id='chat-input' autocomplete='off')
          span.input-group-btn
              button.btn.btn-outline-success.my-2.my-sm-0(id='chat-send' type='button') Send
                  
  script(type="text/javascript" src ='/javascripts/socket.js')



