#nav {
    opacity: 0.9;
}
.form {
    height: 15%;
}
.jumbotron{
    position: fixed;
    width: 34%;
    height: 40%;
}

.navbar.navbar-dark.bg-dark .navbar-brand {
    color: deepskyblue;
    font-size:30px;
}
.navbar.navbar-dark.bg-dark .navbar-text{
    color:white;
}
.divider{
    height:15px;
}
#basic-addon {
    width:110px;
    text-align:left;
}

#datepicker {
    text-align: left;
}
.input-group-text{
    width:110px;
    text-align:left;
}
#tracker{

    margin-top: 0.5em;

}
#issues{

    height: 90%;
    width: 35%;
    position: fixed;
    margin-top: 0.5em;
    bottom: 0;
    right:38%;
    
}
#issue-window{
    overflow-y: scroll;
    height: 90%;
    margin-top: 0.5em;
}

#chat {
    opacity: 0.9;
    margin-right: 1em;
    width: 25%;
    height: 90%;
    position: fixed;
    right: 0;
    bottom: 0;
}

#chat-window{
    overflow-y: scroll;
    scroll-behavior: auto;
    height: 85%;
    margin-top: 0.5em;
}
#tracker{
    width: 25%;
    margin-left: 1em;
    margin-top: 0.8em;
    position: fixed;
}
#IssueInputForm{

    width:40%;
    margin-left: 1em;
    margin-right: 1em;
    

}
.input-group{

    width: 100%;

}
body {
    padding-top: 0px;
}
